@model Pin

<h3 class="my-5">
    @Model.Name
</h3>

<!--N책r man har trykket p책 Navnet p책 pin s책 kommer denne siden opp -->
<div class="row gx-5">
    <div class="col-3">
        <h5>Rating:</h5>
        <h3> @Model.Rating.ToString("")</h3>
    </div>
    <div class="col-4">
        <h5>Comment:</h5>
        <h5>@(Model.Comment ?? "No Comment added")</h5>
    </div>
    <div class="col-5">
        <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid" />
    </div>
    <div class="col-12">
        <p><a href="/Pin/Table">Back to Table View</a></p>
    </div>
</div>