@model Pin
<h2>Update Pin</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">     <!--Forklaring på kode under finnes i create.cshtml-->
    <input type="hidden" asp-for="PinId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label><span>(1-5)</span><span class="text-danger">*</span>
        <select asp-for="Rating" class="form-control">
            <option value="">Select rating</option>
            <option value="1" selected="@(Model.Rating == 1 ? "selected" : null)">1</option>
            <option value="2" selected="@(Model.Rating == 2 ? "selected" : null)">2</option>
            <option value="3" selected="@(Model.Rating == 3 ? "selected" : null)">3</option>
            <option value="4" selected="@(Model.Rating == 4 ? "selected" : null)">4</option>
            <option value="5" selected="@(Model.Rating == 5 ? "selected" : null)">5</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comment"></label>
        <input asp-for="Comment" class="form-control" maxlength="200" />
        <span asp-validation-for="Comment" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <input asp-for="ImageUrl" class="form-control" hidden/>
        <span asp-validation-for="ImageUrl" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label asp-for="UploadedImage">Upload photo:</label>
        <input asp-for="UploadedImage" type="file" accept="image/*" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" readonly />
        <span asp-validation-for="Latitude" class="text-danger"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" readonly/>
        <span asp-validation-for="Longitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" readonly/>
        <span asp-validation-for="UserName" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <input asp-for="UserId" class="form-control" hidden/>
        <span asp-validation-for="UserId" class="text-danger"></span> 
    </div>

    <!--knapp for update-->
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a asp-action="Table" class="btn btn-secondary">Cancel</a>

</form>
