@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

@model IEnumerable<Favorite>

<div class="container">
    <div class="row">
        @if(User?.Identity?.IsAuthenticated ?? false)
        {
        @foreach (var favorite in Model)
        {
            if(favorite.UserId == _userManager.GetUserId(User))
            {
                <div class="col-md-12">
                    <div class="cardFavs mb-3" style="width: 100%;"
                        data-id="@favorite.PinId" 
                        data-name="@favorite.Pin.Name"
                        data-rating="@favorite.Pin.Rating"
                        data-name="@favorite.Category"
                        data-latitude="@favorite.Pin.Latitude" 
                        data-longitude="@favorite.Pin.Longitude"
                        data-userid="@favorite.MadeBy">
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <div class="card-body"  style="padding-right: 5px;">
                                    <h5> <a asp-controller="Pin" asp-action="Details" asp-route-id="@favorite.PinId">@favorite.Pin.Name</a></h5>
                                    <p class="card-text"> @favorite.Pin.Comment</p>
                                    <p><strong>Date:</strong> @favorite.Pin.DateCreated</p>
                                    <p><strong>Date:</strong> @favorite.Pin.Rating</p>
                                    <p><strong>Category:</strong> @favorite.Category</p>
                                    <p><strong>Made by User:</strong> @favorite.MadeBy</p>

                                    <a asp-action="UpdateFavorite" asp-controller="Favorite" asp-route-id="@favorite.FavoriteId" class="btn btn-primary">Update</a>
                                    <a asp-action="DeleteFavorite" asp-controller="Favorite" asp-route-id="@favorite.FavoriteId" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                           <div class="col-md-5">
                            <div style="background-image: url('@favorite.Pin?.ImageUrl'); background-size: cover; background-position: center; height: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    } else {
        <div class="col-md-5">
            <p>You have to be logged in to see "Favorites"</p>
        </div>
    }
    </div>
</div>


