@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

@model IEnumerable<Favorite>

<div class="container">
    <div class="row">
        @foreach (var favorite in Model)
        {
            if(favorite.UserName == _userManager.GetUserName(User))
            {
                <div class="col-md-12">
                    <div class="card mb-3" style="width: 100%;"
                        data-id="@favorite.PinId" 
                        data-name="@favorite.Category">
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <div class="card-body"  style="padding-right: 5px;">
                                  
                                    <p><strong>PinId:</strong> @favorite.PinId</p>
                                    <p><strong>Category:</strong> @favorite.Category</p>
                                    <p><strong>Username:</strong> @favorite.UserName</p>

                                    <a asp-action="Update" asp-route-id="@favorite.FavoriteId" class="btn btn-primary">Update</a>
                                    <a asp-action="Delete" asp-route-id="@favorite.FavoriteId" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                           <div class="col-md-5">
                            <div style="background-image: url('@favorite.Pin.ImageUrl'); background-size: cover; background-position: center; height: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
// code to selected items in the list
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('click', function () {
            // Remove the 'selected' class from all cards
            document.querySelectorAll('.card').forEach(c => c.classList.remove('selected'));

            // Add the 'selected' class to the clicked card
            this.classList.add('selected');

            // Stores location data from selected pin
            var latitude = this.getAttribute('data-latitude');
            var longitude = this.getAttribute('data-longitude');
            
            //sets location data
            sessionStorage.setItem('Lat', latitude);
            sessionStorage.setItem('Long', longitude);
            
            //updates map and sets the pointer to location
            map.setView([latitude, longitude], 13);
            popup.setLatLng([latitude, longitude]).setContent("You selected the pin at " + latitude + ", " + longitude).openOn(map);
        });
    });
</script>
