
@model PinsViewModel

<div class="container">
        <table class='table table-striped'>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            @foreach (var pin in Model.UserPins)    
            {
                <tr>
                    <td>@pin.DateCreated</td>
                    <td>
                        <a asp-controller="Pin" 
                         asp-action="Details" 
                         asp-route-id="@pin.PinId">@pin.Name</a>
                    </td>
                    <td>@pin.Rating.ToString("")</td>
                    <td>@pin.Comment</td>
                    <td>
                        <img src="@pin.ImageUrl" alt="Item Image" style="max-width: 80px; max-height: 80px;"/>
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@pin.PinId">Update</a>
                        <a asp-action="Delete" asp-route-id="@pin.PinId">Delete</a>
                    </td>
                </tr>
            }
        </table>
    
    </div>