@model IEnumerable<User>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>UserId</th>
            <th>Username</th>
            <th>Email</th>
            <th>Pins</th>
        </tr>
        <!-- Shows all users-->
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td> 
                <!-- Lists all Pins connected to the user  -->
                <td>
                    @if (@user.Pins != null)
                    {
                        <p>@string.Join(", ", @user.Pins.Select(pin => $"Pin{pin.PinId}"))</p>
                    }
                </td>
            </tr>
        }
    </table>
</div>